<div class="container">
    <div class="card">
        <div class="container2">
            <h3>Add Contact</h3>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    First Name:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="fname">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Last Name:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="lname">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Phone Number:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="phone">
                </div>
            </div>
            <button class="btn btn-primary" routerLink="">Cancel</button>
            <button class="btn btn-primary" (click)="onAdd()" routerLink="">Add</button>
        </div>
    </div>
</div>